*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'miller';
    src: url('../Miller-TitilliumWeb/Miller-Display.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'titillium';
    src: url('../Miller-TitilliumWeb/TitilliumWeb-SemiBold.ttf'); /* IE9 Compat Modes */
}
.home{
    background: linear-gradient(200deg, #0000, #000000), url(../images/pexels-pixabay-267507.jpg);    
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    padding: 5vh 0;
}
.identity-row{
    height: 15vh;
    display: flex;
    align-items: center;
}
.habl-text-img{
    width: 40%;
}
.habl-frame{
    width: 15%;
}
.intro-row{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLinks{
    height: 15vh;
}
.intro-slogan{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: miller;
}
.nav-link, .services-links{
    text-transform: uppercase;
    color: white !important;
    font-family: titillium;
    white-space: nowrap;
    text-decoration: none;
    transition: color 1s;
}
.services-links-uh{
    /* display: none !important; */
    opacity: 0;
}
.services-links-h{
    /* display: block !important; */
    opacity: 1;
}
.services-links-heading{
    color: #ea7822 !important;
}
.nav-link:hover, .services-links:hover{
    color: #ea7822 !important;
}
@media screen and (max-width: 768px){
    .habl-text-img{
        width: 70%;
    }
    .habl-frame{
        width: 30%;
    }
}
@media screen and (max-width: 500px){
    .nav-link, .services-links{
        font-size: 14px;
    }
}
@media screen and (min-width: 769px){
    .home{
        display: flex;
        align-items: center;
    }
}
#preloader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    transition: all 1s ease-out;
}
.blu-logo {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../images/habl\ logo\ bg\ removed\ orange\ frame.png);
    animation: fade 1.5s ease-in-out .5s infinite alternate;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}